## Build an Artificial Neural Network to prediction the satisfaction (1 is happy and 0 is dissatisfied). Only the columns with text values are categorical values.

In [1]:
# import libraries
import pandas as pd
import tensorflow as tf

In [2]:
# import data

airline = pd.read_excel('F:\Skillenable\Data frames\Airline-Satisfaction.xlsx')
airline.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,0
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,0
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,1
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,0
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,1

In [3]:
airline.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 10000 non-null  int64
 1   Gender                             10000 non-null  object
 2   Customer Type                      10000 non-null  object
 3   Age                                10000 non-null  int64
 4   Type of Travel                     10000 non-null  object
 5   Class                              10000 non-null  object
 6   Flight Distance                    10000 non-null  int64
 7   Inflight wifi service              10000 non-null  int64
 8   Departure/Arrival time convenient  10000 non-null  int64
 9   Ease of Online booking             10000 non-null  int64
 10  Gate location                      10000 non-null  int64
 11  Food and drink                     10000 non-null  int64
 12  Online boarding                    10000 non-null  int64
 13  Seat comfort                       10000 non-null  int64
 14  Inflight entertainment             10000 non-null  int64
 15  On-board service                   10000 non-null  int64
 16  Leg room service                   10000 non-null  int64
 17  Baggage handling                   10000 non-null  int64
 18  Checkin service                    10000 non-null  int64
 19  Inflight service                   10000 non-null  int64
 20  Cleanliness                        10000 non-null  int64
 21  Departure Delay in Minutes         10000 non-null  int64
 22  Arrival Delay in Minutes           9974 non-null   float64
 23  satisfaction                       10000 non-null  int64
dtypes: float64(1), int64(19), object(4)
memory usage: 1.8+ MB

In [6]:
#remove null values
air_df = airline.dropna()

In [7]:
air_df.isnull().sum()

id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

In [8]:
# dealing with categorical col.

cat_col = ['Gender', 'Customer Type', 'Type of Travel', 'Class']
air_dummy = pd.get_dummies(air_df, columns=cat_col, drop_first= True)

In [9]:
air_dummy.head()

,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,...,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Eco,Class_Eco Plus
0,70172,13,460,3,4,3,1,5,3,5,...,5,5,25,18.0,0,1,0,1,0,1
1,5047,25,235,3,2,3,3,1,3,1,...,4,1,1,6.0,0,1,1,0,0,0
2,110028,26,1142,2,2,2,2,5,5,5,...,4,5,0,0.0,1,0,0,0,0,0
3,24026,25,562,2,5,5,5,2,2,2,...,4,2,11,9.0,0,0,0,0,0,0
4,119299,61,214,3,3,3,3,4,5,5,...,3,3,0,0.0,1,1,0,0,0,0

In [11]:
air_dummy.shape

(9974, 25)

In [12]:
# split data into train and test

from sklearn.model_selection import train_test_split
Y = air_dummy[['satisfaction']]
X = air_dummy.drop(columns=['satisfaction'])

x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.2, random_state=42)

len(x_train), len(x_test), len(y_train), len(y_test)

(7979, 1995, 7979, 1995)

### Building ANN

In [13]:
# Initializing the ANN

ann = tf.keras.models.Sequential()

In [15]:
# Adding the input layer and first hidden layer

ann.add(tf.keras.layers.Dense(units= 10, activation='relu'))

#  Adding the second hidden layer

ann.add(tf.keras.layers.Dense(units= 10, activation='relu'))

In [16]:
#  Adding the output layer

ann.add(tf.keras.layers.Dense(units= 1, activation='sigmoid'))

In [17]:
# Compiling the ANN
ann.compile(optimizer = 'adam', loss='binary_crossentropy', metrics = 'accuracy')

In [18]:
# training the ann

ann.fit(x_train, y_train, batch_size=32, epochs= 75)

Epoch 1/75
250/250 [==============================] - 1s 1ms/step - loss: 218.0342 - accuracy: 0.5655
Epoch 2/75
250/250 [==============================] - 0s 1ms/step - loss: 12.0125 - accuracy: 0.5491
Epoch 3/75
250/250 [==============================] - 0s 1ms/step - loss: 9.3087 - accuracy: 0.5521
Epoch 4/75
250/250 [==============================] - 0s 1ms/step - loss: 10.6200 - accuracy: 0.5509
Epoch 5/75
250/250 [==============================] - 0s 1ms/step - loss: 7.0406 - accuracy: 0.5545
Epoch 6/75
250/250 [==============================] - 0s 1ms/step - loss: 8.9883 - accuracy: 0.5502
Epoch 7/75
250/250 [==============================] - 0s 1ms/step - loss: 11.3284 - accuracy: 0.5530
Epoch 8/75
250/250 [==============================] - 0s 1ms/step - loss: 8.9783 - accuracy: 0.5645
Epoch 9/75
250/250 [==============================] - 0s 1ms/step - loss: 9.2477 - accuracy: 0.5572
Epoch 10/75
250/250 [==============================] - 0s 1ms/step - loss: 9.7539 - accuracy: 0.5543
Epoch 11/75
250/250 [==============================] - 0s 1ms/step - loss: 6.4835 - accuracy: 0.5617
Epoch 12/75
250/250 [==============================] - 0s 1ms/step - loss: 9.9550 - accuracy: 0.5621
Epoch 13/75
250/250 [==============================] - 0s 1ms/step - loss: 8.7648 - accuracy: 0.5615
Epoch 14/75
250/250 [==============================] - 0s 1ms/step - loss: 8.2141 - accuracy: 0.5686
Epoch 15/75
250/250 [==============================] - 0s 1ms/step - loss: 6.9406 - accuracy: 0.5685
Epoch 16/75
250/250 [==============================] - 0s 1ms/step - loss: 8.6660 - accuracy: 0.5640
Epoch 17/75
250/250 [==============================] - 0s 1ms/step - loss: 7.2894 - accuracy: 0.5718
Epoch 18/75
250/250 [==============================] - 0s 1ms/step - loss: 8.5165 - accuracy: 0.5647
Epoch 19/75
250/250 [==============================] - 0s 1ms/step - loss: 7.3162 - accuracy: 0.5771
Epoch 20/75
250/250 [==============================] - 0s 1ms/step - loss: 7.2205 - accuracy: 0.5711
Epoch 21/75
250/250 [==============================] - 0s 1ms/step - loss: 4.5782 - accuracy: 0.5882
Epoch 22/75
250/250 [==============================] - 0s 1ms/step - loss: 4.3829 - accuracy: 0.5812
Epoch 23/75
250/250 [==============================] - 0s 1ms/step - loss: 5.9252 - accuracy: 0.5749
Epoch 24/75
250/250 [==============================] - 0s 1ms/step - loss: 5.3635 - accuracy: 0.5868
Epoch 25/75
250/250 [==============================] - 0s 1ms/step - loss: 5.2302 - accuracy: 0.5941
Epoch 26/75
250/250 [==============================] - 0s 1ms/step - loss: 5.1989 - accuracy: 0.5863
Epoch 27/75
250/250 [==============================] - 0s 1ms/step - loss: 6.0954 - accuracy: 0.5773
Epoch 28/75
250/250 [==============================] - 0s 1ms/step - loss: 4.2244 - accuracy: 0.6018
Epoch 29/75
250/250 [==============================] - 0s 1ms/step - loss: 5.1705 - accuracy: 0.5937
Epoch 30/75
250/250 [==============================] - 0s 1ms/step - loss: 5.1078 - accuracy: 0.5725
Epoch 31/75
250/250 [==============================] - 0s 1ms/step - loss: 4.5618 - accuracy: 0.5998
Epoch 32/75
250/250 [==============================] - 0s 2ms/step - loss: 5.0908 - accuracy: 0.5964
Epoch 33/75
250/250 [==============================] - 0s 2ms/step - loss: 4.5487 - accuracy: 0.5954
Epoch 34/75
250/250 [==============================] - 1s 2ms/step - loss: 3.4090 - accuracy: 0.6131
Epoch 35/75
250/250 [==============================] - 0s 1ms/step - loss: 4.4851 - accuracy: 0.6035
Epoch 36/75
250/250 [==============================] - 0s 1ms/step - loss: 3.1537 - accuracy: 0.6201
Epoch 37/75
250/250 [==============================] - 0s 1ms/step - loss: 6.2348 - accuracy: 0.6055
Epoch 38/75
250/250 [==============================] - 0s 1ms/step - loss: 3.3066 - accuracy: 0.6205
Epoch 39/75
250/250 [==============================] - 0s 1ms/step - loss: 3.2667 - accuracy: 0.6269
Epoch 40/75
250/250 [==============================] - 0s 1ms/step - loss: 3.5862 - accuracy: 0.6246
Epoch 41/75
250/250 [==============================] - 0s 1ms/step - loss: 3.3889 - accuracy: 0.6120
Epoch 42/75
250/250 [==============================] - 0s 1ms/step - loss: 2.3022 - accuracy: 0.6469
Epoch 43/75
250/250 [==============================] - 0s 1ms/step - loss: 3.3913 - accuracy: 0.6224
Epoch 44/75
250/250 [==============================] - 0s 1ms/step - loss: 3.1365 - accuracy: 0.6182
Epoch 45/75
250/250 [==============================] - 0s 1ms/step - loss: 4.5136 - accuracy: 0.6022
Epoch 46/75
250/250 [==============================] - 0s 1ms/step - loss: 4.0230 - accuracy: 0.6204
Epoch 47/75
250/250 [==============================] - 0s 1ms/step - loss: 2.9709 - accuracy: 0.6273
Epoch 48/75
250/250 [==============================] - 0s 1ms/step - loss: 2.8399 - accuracy: 0.6364
Epoch 49/75
250/250 [==============================] - 0s 1ms/step - loss: 3.6717 - accuracy: 0.6161
Epoch 50/75
250/250 [==============================] - 0s 1ms/step - loss: 2.5210 - accuracy: 0.6322
Epoch 51/75
250/250 [==============================] - 0s 1ms/step - loss: 2.1411 - accuracy: 0.6525
Epoch 52/75
250/250 [==============================] - 0s 1ms/step - loss: 1.7608 - accuracy: 0.6555
Epoch 53/75
250/250 [==============================] - 0s 1ms/step - loss: 2.7027 - accuracy: 0.6283
Epoch 54/75
250/250 [==============================] - 0s 1ms/step - loss: 2.0297 - accuracy: 0.6516
Epoch 55/75
250/250 [==============================] - 0s 1ms/step - loss: 3.4132 - accuracy: 0.6125
Epoch 56/75
250/250 [==============================] - 0s 1ms/step - loss: 2.4543 - accuracy: 0.6370
Epoch 57/75
250/250 [==============================] - 0s 1ms/step - loss: 2.4359 - accuracy: 0.6505
Epoch 58/75
250/250 [==============================] - 0s 1ms/step - loss: 1.9648 - accuracy: 0.6565
Epoch 59/75
250/250 [==============================] - 0s 1ms/step - loss: 1.7197 - accuracy: 0.6525
Epoch 60/75
250/250 [==============================] - 0s 1ms/step - loss: 1.7943 - accuracy: 0.6542
Epoch 61/75
250/250 [==============================] - 0s 2ms/step - loss: 1.7203 - accuracy: 0.6661
Epoch 62/75
250/250 [==============================] - 0s 1ms/step - loss: 3.4781 - accuracy: 0.6130
Epoch 63/75
250/250 [==============================] - 0s 1ms/step - loss: 1.9474 - accuracy: 0.6459
Epoch 64/75
250/250 [==============================] - 0s 1ms/step - loss: 2.0932 - accuracy: 0.6409
Epoch 65/75
250/250 [==============================] - 0s 1ms/step - loss: 1.3622 - accuracy: 0.6746
Epoch 66/75
250/250 [==============================] - 0s 1ms/step - loss: 1.7742 - accuracy: 0.6597
Epoch 67/75
250/250 [==============================] - 0s 1ms/step - loss: 1.3992 - accuracy: 0.6679
Epoch 68/75
250/250 [==============================] - 0s 1ms/step - loss: 1.6330 - accuracy: 0.6664
Epoch 69/75
250/250 [==============================] - 0s 1ms/step - loss: 2.3448 - accuracy: 0.6436
Epoch 70/75
250/250 [==============================] - 0s 1ms/step - loss: 1.6584 - accuracy: 0.6775
Epoch 71/75
250/250 [==============================] - 0s 1ms/step - loss: 1.4453 - accuracy: 0.6784
Epoch 72/75
250/250 [==============================] - 0s 1ms/step - loss: 1.8080 - accuracy: 0.6585
Epoch 73/75
250/250 [==============================] - 0s 1ms/step - loss: 1.0889 - accuracy: 0.6972
Epoch 74/75
250/250 [==============================] - 0s 1ms/step - loss: 2.0565 - accuracy: 0.6629
Epoch 75/75
250/250 [==============================] - 0s 1ms/step - loss: 1.6681 - accuracy: 0.6522

In [20]:
y_test['Prediction'] = ann.predict(x_test)

C:\Users\arun\AppData\Local\Temp/ipykernel_12104/3886127213.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_test['Prediction'] = ann.predict(x_test)

In [21]:
y_test

      satisfaction  Prediction
9488             0    0.010201
5183             0    0.499203
7127             0    0.047460
107              0    0.080129
3429             1    0.838308
...            ...         ...
3526             1    0.823302
3102             0    0.048975
7109             0    0.713011
3846             0    0.002166
9923             1    0.783559

[1995 rows x 2 columns]